  <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS Online -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Bootstrap CSS Offline-->
    <!--<link rel="stylesheet" href="cssbotstrap/botstrap.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">--> 


    <title>Welcome To 4 Sehat 5 Sempurna</title>
  </head>
  <body>

    <div class="container-fluid fixed-top" style="background-color: #A8F584">
      <div class="container">
        <div class="row">
          <div class="col-lg">
              <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A8F584;">
                  <a class="navbar-brand" style="color: #219653; text-shadow: 0px 2px 3px #219653;">
                      4 Sehat<br>
                      5 Sempurna.com</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="padding-left: 150px;">
                      <li class="nav-item" style="font-size: 20pt; font-weight: 500;">
                        <a class="nav-link" href="home.html">Home &nbsp;|</a>
                      </li>
                      <li class="nav-item" style="font-size: 20pt; font-weight: 500;">
                        <a class="nav-link" href="halpenghubung.html">&nbsp; Blogs &nbsp; |</a>
                      </li>
                      <li class="nav-item" style="font-size: 20pt; font-weight: 500;">
                        <a class="nav-link" href="about.html">&nbsp; About</a>
                      </li>
                    </ul>
                  </div>
                  <form class="form-inline my-2 my-lg-0" style="background-color: #a8f584;">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
              </nav> 
          </div>
      </div>
      </div>
    </div>

      <!--Isi-->
      <div class="container">
        <div class="row">
          <div class="col-6 offset-md-3 text-center">
            <h1 style="font-family: 'consolas'">404</h1>
                <img src="img/error.png">
                <p style="font-family:'consolas'">Maaf, sepertinya web kami bermasalah. Kami mohon maaf  atas ketidaknyamanan anda. Anda dapat menunggu sebentar lagi sebelum masalah ini teratasi.</p>
            
          </div>
        </div>
      </div>
      
      <!--  Footer 4 Sehat 5 Sempurna Dengan Grid -->
  <section>
    <div class="container-fluid" style="background-color: #A8F584; height: 120px">
      <div class="container align-items-center"  style="background-color: #A8F584; width: auto;">
        <div class="row justify-content-start">
          <div class="col col-lg-4" style="background-color: #A8F584; margin-top: 10px;">
            <span style="color: #219653; text-shadow: 0px 2px 3px #219653; font-weight: bold; font-size: 24px">4 Sehat<br>5 Sempurna.com</span>
          </div>
          <div class="col-lg-7 offset-md-1" style="margin-top: 10px">
            <div style="text-align: right;">
              <img src="img/fb.png" style="width: 30px; margin-left: 30px">
              <img src="img/twitter.png" style="width: 30px; margin-left: 30px">
              <img src="img/ig.png" style="width: 30px; margin-left: 30px">
              <img src="img/line.png" style="width: 30px; margin-left: 30px">
            </div>
            <div class="text-right">
              <a class="text-dark" href="about.html">About</a>
              <span>|</span>
              <a class="text-dark" href="#Contact">Contact</a>
            </div>
            <div class="text-right">
              <span>Copyright @ 2020 4sehat5sempurna. All rights reserved.</span>
            </div>
          </div>
        </div>
    
      </div>
    </div>
  
  </section>







 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  

  </body>
</html>